@(message: String)

@main("Blog Index") {

<div id='splash-stuff'>
    <div class='title'>
        <h1 class='domain'>joshuastupplebeen</h1>
        <span class='tld'>.com</span>
    </div>
    <div><h1>This is awesome</h1></div>
    <div class='nav'>
        <ul>
            <li>
                <a href='http://github.com/cthulhu-bot'>github</a>
            </li>
            <li>
                <a href='/log'>log</a>
            </li>
            <li>
                <a href='/contact'>contact</a>
            </li>
            <li>
                <a href='/*'>*</a>
            </li>
        </ul>
    </div>
</div>


}